body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0 300px;
}


.container {
    width: 100%;
    margin: auto;
    padding: 10px;
}

#canvas{
    margin: auto;
}

.description{
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
}

.summary {
    font-size: 15px;
    margin: 0 0 20px 0;
}


a {
    text-decoration: none;
    color: lightgray;
    transition: color 0.2s ease-in-out;
}

a:visited {
    text-decoration: none;
    color: lightgray;
}

a:hover{
    text-decoration: none;
    color: rgb(253, 101, 101);
}

.menu {
    display: block;
    margin: 5px 0;
    width: 0;
}

.header {
    border-bottom: 1px solid lightgray;
}

.footer {
    margin: 20px;
    text-align: center;
    font-weight: 400;
}

.footer a:link {
    padding: 5px;
}

.button-container {
    position: absolute;
    z-index: 2;
    font-size: 30px;
    border: solid 1px lightgray;
    padding: 5px;
    border-radius: 3px;
    bottom: 0px;
    cursor: pointer;
}


@media screen and (max-width: 1600px) {
    body {
        margin: 0 40px;
    }
}

@media screen and (max-width: 992px) {
    .description {
        margin-top: 10px;
        border-top: solid 1px lightgray;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    section{
        padding-left: 0px;
        padding-right: 0px;
    }

    .description{
        padding: 0px;
    }
}