body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-right: 40px;
}

.page-header{
    border-bottom: solid;
    border-color: rgb(133, 133, 133);
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#author{
    padding-right: 10px;
    float: right;
}

.container {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.date-container {
    float: left;
}

.time-and-arrows{
    padding-bottom:70px;
}

.time-container {
    float: left;
}

.arrows-container {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
}

#canvas{
    margin: auto;
}

#legend canvas{
    border: solid;
    border-color: rgb(133, 133, 133);
    border-width: thin;
    margin-right: 10px;
}

.description{
    border-top: solid;
    border-color: rgb(133, 133, 133);
    border-width: thin;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 3px;
    color: rgb(133, 133, 133);
}

.small-container {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.controls {
    float: left;
}

.button-container{
    text-align: center;
}

form a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

form a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: none;
    color: rgb(121, 166, 250);
}

#arrow-up:hover{
    color: rgb(121, 166, 250);
    cursor: pointer;
}
#arrow-down:hover{
    color: rgb(121, 166, 250);
    cursor: pointer;
}

@media screen and (min-width: 1561px) {
    body {
        margin-left: 210px;
        margin-right: 210px;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    section{
        padding-left: 0px;
        padding-right: 0px;
    }

    .description{
        padding: 0px;
    }

    .date-container{
        padding: 0px;
    }

}